// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixin";

.failed-charges-section {
  tbody tr {
    background: $failed-bg-color;
  }
}

.successful-charges-section {
  tbody tr {
    background: white;
  }
}

.disputed-charges-section {
  tbody tr {
    background: $disputed-bg-color;
  }
}